.header_background
{
    background-color: #f5f7f9;
}

.header_contact
{
    height: 40px;
}

.header_mail
{
    display: inline-block;
    font-size: 12px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
    padding-top: 12px;
    padding-left: 20px;
    background-image: url(../images/icon-mail-1.png);
    background-repeat: no-repeat;
    background-position: 0 16px;
    transition: all 0.3s ease;
}

.header_mail:hover
{
    color: #00bb9b;
    background-image: url(../images/icon-mail-hov.png);
}

.header_phone
{
    display: inline-block;
    font-size: 12px;
    color: rgb(80,106,133)!important;
    font-family: "Source Sans Pro";
    padding-top: 12px;
    padding-left: 40px;
    background-image: url(../images/icon-mobile.png);
    background-repeat: no-repeat;
    background-position: 24px 14px;
}

.header_social
{
    height: 40px;
}

.header_link
{
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.header_facebook
{
    background-image: url(../images/icon-s-facebook.png);
}

.header_facebook:hover
{
    background-color: #4567b3;
    background-image: url(../images/icon-s-facebook-hov.png);
}

.header_gplus
{
    background-image: url(../images/icon-s-gplus.png);
}

.header_gplus:hover
{
    background-color: #dd5745;
    background-image: url(../images/icon-s-gplus-hov.png);
}

.header_twitter
{
    background-image: url(../images/icon-s-twitter.png);
}

.header_twitter:hover
{
    background-color: #2fbbed;
    background-image: url(../images/icon-s-twitter-hov.png);
}

.header_pinterest
{
    background-image: url(../images/icon-s-pinterest.png);
}

.header_pinterest:hover
{
    background-color: #d94347;
    background-image: url(../images/icon-s-pinterest-hov.png);
}

.header_behance
{
    background-image: url(../images/icon-s-behance.png);
}

.header_behance:hover
{
    background-color: #2f79ff;
    background-image: url(../images/icon-s-behance-hov.png);
}

.header_dribbble
{
    background-image: url(../images/icon-s-dribbble.png);
}

.header_dribbble:hover
{
    background-color: #eb6397;
    background-image: url(../images/icon-s-dribbble-hov.png);
}

.havbar
{
    margin: 30px 0 30px 0;
    position: relative;
    z-index: 2;
}

.havbar_logo
{
    display: block;
    width: 160px;
    height: 50px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.havbar_logo:hover
{
    background-image: url(../images/logo_hov.png);
}

.havbar_hamburger
{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/hamburger.png);
    transition: all 0.3s ease;
    cursor: pointer;
}

.havbar_hamburger:hover
{
    background-image: url(../images/hamburger-hov.png);
}

.mobile_menu_cross
{
    color: #8a8a8a;
}

.mobile_menu_cross:hover
{
    color: #0a0a0a;
}

.havbar_menu
{
    margin-left: 65px;
    margin-bottom: 0;
    display: flex;
    list-style: none;
    float: left;
}

.havbar_menu_item
{
    display: block;
    line-height: 1;
    height: 50px;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color: rgb(80,106,133);
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;
    border: 1px solid #ffffff;
    border-bottom: 0 solid #ffffff;
    transition: all 0.3s ease;
}

.havbar_search
{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    border-bottom: 0 solid #ffffff;
    transition: all 0.3s ease;
    float: right;
}

.havbar_search:hover
{
    background-color: #f5f7f9;
    border-color: #e5e9ed;
    border-bottom: 1px solid #e5e9ed;
}

.menu_button:hover .havbar_menu_item,
.mega_menu_button:hover .havbar_menu_item
{
    color: #00bb9b;
    background-color: #f5f7f9;
    border-color: #e5e9ed;
    border-bottom: 1px solid #e5e9ed;
}

.mega_menu_button:hover .havbar_menu_item
{
    border-bottom-color: #f5f7f9;
}

.mega_menu
{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    background-color: #f5f7f9;
    z-index: -1;
    top: 49px;
    left: 14px;
    border: 1px solid #e5e9ed;
    transition: all 0.3s ease;
}

.mega_menu_button:hover .mega_menu
{
    visibility: visible;
    opacity: 1;
}

.mega_menu_title
{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 22px;
    color: rgb(80,106,133);
    font-family: "Lato";
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 28px;
}

.mega_menu_image
{
    margin-bottom: 20px;
}

.mega_menu_text
{
    font-size: 14px;
    line-height: 22px;
    color: rgb(115,135,156);
    font-family: "Source Sans Pro";
}

.mega_menu_focus_on_button
{
    width: 133px;
    height: 44px;
    border-radius: 3px;
    background-color: #00bb9b!important;
    margin-bottom: 40px!important;
    
    padding-top: 14px!important;
    font-size: 14px;
    letter-spacing: 0px;
    color: rgb(255,255,255);
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;
}

.mega_menu_focus_on_button:hover
{
    background-color: #17a78b!important;
}

.mega_menu_list
{
    margin-left: 0;
    list-style: none;
}

.mega_menu_list_item
{
    margin-bottom: 19px;
}

.mega_menu_mark
{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #00bb9b;
}

.mega_menu_list_link
{
    font-size: 14px;
    line-height: 7px;
    color: rgb(115,135,156);
    font-family: "Source Sans Pro";
    margin-left: 10px;
    transition: all 0.3s ease;
}

.mega_menu_list_link:hover
{
    color: #00bc9c;
}

.mega_menu_about_us_button
{
    width: 115px;
    height: 44px;
    border-radius: 3px;
    background-color: #00bb9b!important;
    margin-top: 20px;
    
    padding-top: 14px!important;
    font-size: 14px;
    letter-spacing: 0px;
    color: rgb(255,255,255);
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
}

.mega_menu_about_us_button:hover
{
    background-color: #17a78b!important;
}

@media screen and (min-width: 1024px) and (max-width: 1120px)
{
    .mega_menu_list_link
    {
        font-size: 10px;
    }
}

@media screen and (max-width: 1023px)
{
    .mobile_menu
    {
        height: 500px;
        transform: translateY(-500px);
    }
    
    .havbar_menu
    {
        display: block;
        margin-top: 40px;
        margin-left: 0px;
        float: none;
    }
    
    .havbar_menu_item
    {
        border-color: #e6e6e6;
    }
    
    .mega_menu
    {
        position: static;
        display: none;
        margin-left: 0;
    }
    
    .mega_menu_button:hover .mega_menu
    {
        display: flex;
    }
}

.hero_background
{
    height: 880px;
    background-position: center;
}

.hero_background.slide_1
{
    background-image: url(../images/hero_background_1.jpg);
}

.hero_background.slide_2
{
    background-image: url(../images/hero_background_2.jpg);
}

.hero_background.slide_3
{
    background-image: url(../images/hero_background_3.jpg);
}

.hero_background.slide_4
{
    background-image: url(../images/hero_background_4.jpg);
}

.hero_background.slide_5
{
    background-image: url(../images/hero_background_5.jpg);
}

.hero_title
{
    font-size: 78px;
    letter-spacing: 5px;
    line-height: 88px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: 900;
    
    margin-top: 280px;
}

.hero_title.slide_1
{
    text-align: center;
}

.hero_title.slide_2
{
    text-align: right;
}

.hero_title.slide_3
{
    font-size: 73px;
    letter-spacing: 3px;
    line-height: 128px;
    background-color: #506a85;
    padding-left: 20px;
    margin-top: 235px;
}

.hero_title.slide_4
{
    text-align: right;
    font-size: 73px;
    letter-spacing: 3px;
    line-height: 128px;
    padding-left: 20px;
    margin-top: 100px;
}

.hero_title.slide_5
{
    text-align: center;
    margin-top: 80px;
}

.hero_description
{
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 23px;
}

.hero_description.slide_1
{
    text-align: center;
    color: #a3b1bf;
}

.hero_description.slide_2
{
    text-align: right;
    color: white;
}

.hero_description.slide_4
{
    text-align: right;
    color: white;
}

.hero_description.slide_5
{
    text-align: center;
    color: #a3b1bf;
}

.hero_button
{
    display: block;
    background-color: #00bb9b!important;
    width: 295px;
    height: 65px;
    border-radius: 3px;
    
    padding-top: 23px;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: "Source Sans Pro";
    font-weight: 700;
}

.hero_button:hover
{
    background-color: #17a78b!important;
}

.hero_button.slide_1
{
    margin: 45px auto 0 auto;
}

.hero_button.slide_2
{
    margin: 45px 0 0 0;
}

.hero_button.slide_3
{
    margin: 145px 0 0 0;
}

.hero_button.slide_4
{
    margin: 45px 0 0 0;
}

.hero_button.slide_5
{
    margin: 45px auto 0 auto;
}

.carousel_move_hero
{
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.carousel_move_hero.left
{
    margin-left: 30px;
    background-image: url(../images/icon-left-open-mini.png)
}

.carousel_move_hero.left:hover
{
    background-image: url(../images/icon-left-open-mini-hov.png);
}

.carousel_move_hero.right
{
    margin-right: 30px;
    background-image: url(../images/icon-right-open-mini.png);
}

.carousel_move_hero.right:hover
{
    background-image: url(../images/icon-right-open-mini-hov.png);
}

.orbit:hover .carousel_move_hero
{
    opacity: 1;
}

.hero_pagination
{
    position: absolute;
    margin: auto;
    padding-left: 10px;
    left: 0;
    right: 0;
    bottom: -22.5px;
    width: 145px;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.3s ease;
}

.orbit:hover .hero_pagination
{
    opacity: 1;
}

.carousel_indicator
{
    margin-top: 15px!important;
    margin-right: 10px!important;
    width: 15px!important;
    height: 15px!important;
    cursor: pointer;
    background-color: #506a85!important;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.carousel_indicator.is-active
{
    background-color: #00bb9b!important;
}

.carousel_indicator:hover
{
    background-color: #00bb9b!important;
}

@media screen and (min-width: 841px) and (max-width: 1180px)
{
    .hero_title
    {
        font-size: 65px;
    }
    
    .hero_title.slide_3
    {
        font-size: 60px;
    }
    
    .hero_title.slide_4
    {
        font-size: 60px;
    }
    
    .hero_description
    {
        font-size: 20px;
    }
}

@media screen and (max-width: 840px)
{
    .hero_title
    {
        font-size: 40px;
        line-height: inherit;
    }
    
    .hero_title.slide_3
    {
        font-size: 35px;
        line-height: inherit;
    }
    
    .hero_title.slide_4
    {
        font-size: 35px;
        line-height: inherit;
    }
    
    .hero_description
    {
        font-size: 18px;
    }
}

@media screen and (max-width: 639px)
{
    .hero_title
    {
        margin-top: 150px;
    }
    
    .hero_title.slide_3
    {
        margin-top: 105px;
    }
    
    .hero_button
    {
        width: 250px;
    }
    
    .hero_background
    {
        height: 720px;
    }
}

.who_we_are_title
{
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 54px;
    color: rgb(80,106,133);
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}

.who_we_are_description
{
    font-size: 22px;
    font-weight: 400;
    color: #73879c;
    font-family: "Source Sans Pro";
    text-align: center;
    margin-top: 25px;
}

.who_we_are_colomns
{
    margin: 52px 0 120px 0;
}

.icon_heart
{
    height: 58px;
    background-image: url(../images/icon-heart-empty-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    min-width: 64px;
}

.icon_lamp
{
    height: 70px;
    background-image: url(../images/icon-lamp.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.icon_star
{
    height: 58px;
    background-image: url(../images/icon-star-empty-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.who_we_are_subtitle
{
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 34px;
    color: rgb(80,106,133);
    font-family: "Lato";
    font-weight: bold;
}

.who_we_are_text_small
{
    font-size: 16px;
    font-family: 'Source Sans Pro';
    color: #73879c;
    margin-top: 22px;
}

@media screen and (max-width: 639px)
{
    .who_we_are_title
    {
        font-size: 30px;
        line-height: 40px;
        margin-top: 80px;
    }
    
    .who_we_are_description
    {
        font-size: 18px;
    }
    
    .who_we_are_colomns
    {
        margin-bottom: 80px;
    }
    
    .who_we_are_subtitle
    {
        text-align: center;
    }
    
    .who_we_are_text_small
    {
        text-align: center;
    }
}

.latest_works_background
{
    background-color: #f1f5f7;
}

.latest_works_title
{
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 54px;
    color: rgb(80,106,133);
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}

.latest_works_description
{
    font-size: 24px;
    font-family: 'Source Sans Pro';
    color: #73879c;
    text-align: center;
    margin-top: 20px;
}

.latest_works_figure
{
    margin-top: 74px;
}

.latest_works_image
{
    width: 100%;
    transition: all 0.3s ease;
}

.latest_works_image:hover
{
    opacity: 0;
}

.latest_works_image_link
{
    display: block;
    background-color: #00bb9b;
    background-image: url(../images/icon-plus.png);
    background-repeat: no-repeat;
    background-position: center;
}

.latest_works_figcaption
{
    background-color: white;
    border: 1px solid #e6e9ed;
    text-align: center;
}

.latest_works_figcaption_link
{
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 26px;
    color: rgb(80,106,133);
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    margin: 30px 0 2px 0;
    padding: 0 10px 0 10px;
    transition: all 0.3s ease;
}

.latest_works_figcaption_link:hover
{
    color: rgb(0,188,156);
}

.latest_works_figcaption_identity
{
    font-size: 15px;
    color: #73879c;
    font-family: "Source Sans Pro";
    text-align: center;
}

.latest_works_carousel
{
    margin-top: 80px;
    margin-bottom: 30px;
}

.carousel_image_link
{
    display: block;
    position: relative;
}

.carousel_info
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00bb9b;
    opacity: 0;
    transition: all 0.3s ease;
}

.carousel_info:hover
{
    opacity: 1;
}

.carousel_image_name
{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    margin-top: 25%;
}

.carousel_image_identity
{
    font-size: 14px;
    color: rgb(255,255,255);
    font-family: "Source Sans Pro";
    text-align: center;
}

.carousel_image
{
    width: 100%;
}

.carousel_move_latest_works
{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #c9d2da;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.orbit:hover .carousel_move_latest_works
{
    opacity: 1;
}

.carousel_move_latest_works.left
{
    top: calc(100% - 142px);
    left: calc(50% - 80px);
    background-image: url(../images/icon-left-open-mini.png)
}

.carousel_move_latest_works.left:hover
{
    background-image: url(../images/icon-left-open-mini-hov.png);
}

.carousel_move_latest_works.right
{
    top: calc(100% - 142px);
    right: calc(50% - 80px);
    background-image: url(../images/icon-right-open-mini.png);
}

.carousel_move_latest_works.right:hover
{
    background-image: url(../images/icon-right-open-mini-hov.png);
}

.latest_works_pagination
{
    margin: auto;
    width: 90px;
    padding-bottom: 165px;
    padding-left: 10px;
}

@media screen and (max-width: 639px)
{
    .latest_works_title
    {
        font-size: 30px;
        line-height: inherit;
        margin-top: 80px;
    }
    
    .latest_works_description
    {
        font-size: 18px;
    }
    
    .latest_works_pagination
    {
        padding-bottom: 125px;
    }
    
    .carousel_image_name
    {
        margin-top: 30%;
    }
}

.get_in_touch_title
{
    font-size: 44px;
    letter-spacing: 0px;
    line-height: 54px;
    color: rgb(80,106,133);
    font-family: "Lato";
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}

.get_in_touch_description
{
    font-size: 22px;
    font-weight: 400;
    color: #73879c;
    font-family: "Source Sans Pro";
    text-align: center;
    margin-top: 25px;
}

.get_in_touch_button
{
    display: block;
    background-color: #00bb9b!important;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    margin: 36px auto 130px auto;
    
    padding-top: 16px;
    font-size: 15px;
    letter-spacing: 0px;
    font-family: "Source Sans Pro";
    font-weight: 700;
}

.get_in_touch_button:hover
{
    background-color: #17a78b!important;
}

@media screen and (max-width: 639px)
{
    .get_in_touch_title
    {
        font-size: 30px;
        line-height: inherit;
        margin-top: 80px;
    }
    
    .get_in_touch_description
    {
        font-size: 18px;
    }
    
    .get_in_touch_button
    {
        margin-bottom: 80px;
    }
}

.footer_background
{
    background-color: #2f3f51;
}

.footer
{
    padding-top: 70px;
}

.footer_item
{
    margin-bottom: 75px;
}

.footer_item_title
{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 22px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: bold;
    margin-bottom: 20px;
}

.footer_who_we_are_logo
{
    display: block;
    width: 128px;
    height: 32px;
    background-image: url(../images/footer-logo.png);
    transition: all 0.3s ease;
}

.footer_who_we_are_logo:hover
{
    background-image: url(../images/footer-logo-hov.png);
}

.footer_item_text
{
    color: #a3b1bf;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}

.footer_item_text.footer_who_we_are
{
    margin-top: 20px;
}

.footer_who_we_are_link
{
    display: block;
    color: #a3b1bf!important;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: bold;
    background-image: url(../images/icon-right.png);
    background-repeat: no-repeat;
    background-position: 100px 8px;
    transition: all 0.3s ease;
}

.footer_who_we_are_link:hover
{
    color: #1abb9c!important;
    background-image: url(../images/icon-right-hov.png);
    background-position: 105px 8px;
}

.image_gird
{
    padding: 0 5px 5px 0!important;
}

.footer_contacts
{
    margin-bottom: 0px;
    padding-left: 20px;
    background-repeat: no-repeat;
}

.footer_contacts.location
{
    background-image: url(../images/icon-location.png);
    background-position: 2px 5px;
}

.footer_contacts.phone
{
    background-image: url(../images/icon-mobile-footer.png);
    background-position: 2px 5px;
}

.footer_contacts.mail
{
    color: #a3b1bf!important;
    background-image: url(../images/icon-mail-footer.png);
    background-position: 0 5px;
    transition: all 0.3s ease;
}

.footer_contacts.mail:hover
{
    color: #1abb9c!important;
    background-image: url(../images/icon-mail-hov.png);
}

.footer_form
{
    position: relative;
}

.footer_form_email
{
    border: 0px solid;
    border-radius: 3px;
    background-color: #4e5c6b;
    transition: all 0.3s ease;
    padding-right: 100px;
    
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Source Sans Pro";
}

.footer_form_email:focus
{
    background-color: #596574;
    border: 0px solid;
    box-shadow: 0 0 0;
}

.footer_submit_form
{
    position: absolute;
    top: 0;
    right: 0;
    width: 88px;
    height: 30px;
    border: 0px solid;
    border-radius: 3px;
    background-color: #00bb9b;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    
    font-size: 13px;
    letter-spacing: 0px;
    color: rgb(255,255,255);
    font-family: "Source Sans Pro";
    font-weight: bold;
    text-align: center;
}

.footer_submit_form:hover
{
    background-color: #17a78b;
}

.footer_ending_background
{
    background-color: #273545;
}

.footer_ending_left
{
    padding-top: 30px;
}

.footer_ending_text
{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: rgb(112,126,140);
    font-family: "Source Sans Pro";
}

.footer_ending_right
{
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: right;
}

.footer_ending_text.link
{
    color: rgb(112,126,140)!important;
    transition: all 0.3s ease;
    padding-left: 5px;
}

.footer_ending_text.link:hover
{
    color: rgb(0,188,156)!important;
}

.footer_ending_text.dot
{
    padding-left: 5px;
}

@media screen and (max-width: 1023px)
{
    .footer_ending_left,
    .footer_ending_right
    {
        text-align: center;
    }
}

.clear
{
    clear: both;
}