ul,
ol
{
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}

ul
{
    padding-left: 21px;
    margin-top: 14px;
}

ol
{
    padding-left: 17px;
    margin-top: 12px;
}

.top_menu
{
    width: 960px;
    margin: 0 auto 0 auto;
}

.top_button
{
    display: inline-block;
    font-size: 19px;
    font-family: "Georgia", sans-serif;
    color: rgb(51,51,51);
    text-decoration: none;
    background-repeat: no-repeat;
}

.top_button:hover
{
    background-color: #15a98c;
    color: rgb(245,245,245);
}

.top_button.about_me
{
    padding: 16px 20px 15px 45px;
    background-position: 21px 17px;
    background-image: url("../images/about_me_icon.png");
}

.top_button.about_me:hover
{
    background-image: url("../images/about_me_icon_hover.png");
}

.top_button.hobby
{
    padding: 16px 22px 15px 43px;
    background-position: 17px 18px;
    background-image: url("../images/hobby_icon.png");
}

.top_button.hobby:hover
{
    background-image: url("../images/hobby_icon_hover.png");
}

.top_button.video
{
    padding: 16px 24px 15px 41px;
    background-position: 15px 17px;
    background-image: url(../images/video_icon.png);
}

.top_button.video:hover
{
    background-image: url(../images/video_icon_hover.png);
}

.layer
{
    position: relative;
    height: 400px;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.main_container
{
    width: 960px;
    margin: -190px auto 100px auto;
    z-index: 1;
    position: relative;
}

.left_side
{
    width: 330px;
    float: left;
}

.my_photo
{
    width: 330px;
    height: 350px;
    border-radius: 5px;
}

.list_title
{
    font-size: 24px;
    color: rgb(21,169,140);
    font-family: "Open Sans", sans-serif;
    margin-top: 40px;
    font-weight: 600;
}

.right_side
{
    width: 570px;
    padding: 25px 0 0 60px;
    float: left;
}

.citation
{
    font-size: 28px;
    line-height: 42px;
    color: rgb(245,245,245);
    font-family: "Georgia";
    font-style: italic;
}

.author
{
    font-size: 16px;
    line-height: 42px;
    color: rgb(245,245,245);
    font-family: "Open Sans";
    font-weight: 600;
}

.name
{
    font-size: 48px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 84px;
}

.rectangle
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3a9;
    margin: 31px 0 43px 0;
}

.caption
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
    margin-bottom: 42px;
}

.subtitle
{
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    margin-bottom: 15px;
    font-weight: 400;
}

.link
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(21,169,139);
    font-family: "Georgia";
}

.link:hover
{
    color: #098d72;
}

.movies_container
{
    width: 1200px;
    margin: 0 auto 60px auto;
}

.movies_title
{
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 34px;
}

.movie_container
{
    width: 285px;
    margin-right: 20px;
    float: left;
}

.movie_container.last
{
    margin-right: 0;
}

.movie_image
{
    width: 285px;
    height: 190px;
    border-radius: 5px;
}

.movie_title
{
    font-size: 22px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 700;
    margin: 20px 0 18px 0;
}

.movie_caption
{
    font-size: 16px;
    line-height: 28px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}

.all_movies
{
    display: block;
    background-color: #15a98b;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto 105px auto;
    padding-top: 10px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(245,245,245);
    font-family: "Georgia";
    text-decoration: inherit;
    text-align: center;
}

.all_movies:hover
{
    background-color: #098d71;
}

.write_me_container
{
    width: 700px;
    margin: 0 auto 68px auto;
}

.line
{
    width: 200px;
    height: 1px;
    background-color: #c4c4c4;
    float: left;
    margin-top: 21px;
}

.write_me_title
{
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 400;
    float: left;
    margin: 0 21px 0 21px;
}

.form_container
{
    width: 546px;
    margin: 0 auto 0 auto;
}

.form_caption
{
    font-size: 20px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 400;
}

.form_caption.star
{
    color: rgb(255,0,0);
}

.some_form
{
    width: 500px;
    height: 46px;
    border-radius: 3px;
    border: 2px solid #c9c9c9;
    transition: all 0.3s ease;
    padding: 0 18px 0 18px;
    margin: 3px 0 25px 0;
    font-size: 15px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Open Sans";
}

.some_form:hover
{
    border: 2px solid #a5a5a5;
}

.some_form:focus
{
    border: 2px solid #15a98b;
}

.select_form
{
    font-size: 18px;
    width: 540px;
    height: 50px;
    padding-left: 12px;
    margin-bottom: 40px;
}

.radio_form_container
{
    margin: 3px 0 36px 0;
}

.radio_form
{
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: 400;
    margin-right: 35px;
}

.radio
{
    margin-right: 3px;
}

.radio_form.last
{
    margin-right: 0;
}

.area
{
    height: 146px;
    resize: none;
    margin-bottom: 45px;
}

.submit_form
{
    font-size: 19px;
    line-height: 32px;
    color: rgb(245,245,245);
    font-family: "Georgia";
    width: 220px;
    height: 50px;
    border-radius: 5px;
    background-color: #15a98b;
    transition: all 0.3s ease;
    margin-bottom: 47px;
}

.submit_form:hover
{
    background-color: #098d71;
}

.footer
{
    height: 70px;
    background-color: #f5f5f5;
}

.text_footer
{
    font-size: 16px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
    padding-top: 20px;
    text-align: center;
}

.clear
{
    clear: both;
}